<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
        <div class="card-header"><strong>Reclamos Cliente</strong></div>
        <div class="card-body">
            <div class="row form-group">
                <label class="col-md-3 col-form-label" for="text-input">Buscar por DNI:</label>
                <div class="col-md-6"><input _ngcontent-cgj-c3="" class="form-control" placeholder="Ingrese DNI" type="text"></div>
                <div class="col-md-3 d-flex justify-content-center"><button class="btn btn-success">Buscar</button></div>
            </div>


            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>Nombre Usuario</th><th>Tema</th><th>Comentario</th><th>Respuesta</th><th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Giacomo Guzman</td>
                        <td>Presion</td>
                        <td>Sin presion</td>
                        <td>se cambio</td>
                        <!-- id_usuario_funcion(usuario.id_usuario) -->
                        <td><span class="badge badge-success p-2" *ngIf="true">Solucionado</span><span class="badge badge-danger p-2" *ngIf="false">En espera</span></td>
                    </tr>


                
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
