<div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
            <div class="card-header"><strong>Registrar medidor</strong></div>
            <div class="card-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">DNI Cliente</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Codigo" [(ngModel)]="medidor.dni_cliente" name='dni'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Código suministro</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="" [(ngModel)]="medidor.codigo_suministro" name='suministro'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Tipo de medidor</label>
                        <div class="col-md-9">
                            <select class="form-control" id="select1" name="select1" [(ngModel)]="medidor.tipo_medidor" name='tipo'>
                                <option value="0" disabled>Seleccionar</option>
                                <option value="1">Doméstico</option>
                                <option value="2">Comercial</option>
                                <option value="3">Industrial</option>
                                <option value="4">Social</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Modelo medidor</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="" [(ngModel)]="medidor.modelo_medidor" name='modelo'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Fecha instalación</label>
                        <div class="col-md-9">
                            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" [(ngModel)]="medidor.fecha_instalacion" name='fecha'>
                        </div>
                    </div>
        
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Código medidor</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="" [(ngModel)]="medidor.codigo_medidor" name='codigo'>
                        </div>
                    </div>
        
                </form>
            </div>
        
        
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-success " type="submit" (click)='registrar_medidor()'>Guardar</button>
            </div>
            </div>
           
        </div>
    </div>