<div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
            <div class="card-header"><strong>Reporte Medidor</strong></div>
            <div class="card-body">
                <div class="row form-group">
                    <label class="col-md-3 col-form-label" for="text-input">Código medidor</label>
                    <div class="col-md-6"><input _ngcontent-cgj-c3="" class="form-control" placeholder="" type="text"></div>
                    <div class="col-md-3 d-flex justify-content-center"><button class="btn btn-success">Buscar</button></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-1"><button class="btn btn-success">Exportar</button></div>
                    <div class="col-md-1"><button class="btn btn-success">Importar</button></div>
                </div>
    
    
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Nombre Cliente</th><th>DNI Cliente</th><th>Código suministro</th><th>Tipo de medidor</th><th>Modelo medidor</th><th>Fecha instalación</th><th>Código medidor</th><th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Giacomo Guzman</td>
                            <td>12313821</td>
                            <td>Peldi</td>
                            <td>se cambio</td>
                            <td>afv56g</td>
                            <td>03/12/18</td>
                            <td>dk4kga</td>
                            <td><span class="badge badge-success p-2" *ngIf="true">Optimo</span><span class="badge badge-danger p-2" *ngIf="false">Caducado</span></td>
                        </tr>
    
    
                    
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    